body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ta-navbar-brand {
    font-size: 1.5rem;
}

.navbar-collapse {
    display: flex !important;
}

    .navbar-collapse.collapse {
        display: flex !important;
    }

.navbar-nav {
    float: right !important;
}

.nav-link:hover {
    background: none;
}

.nav-link {
    display: block;
    text-decoration: none;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding: 0.5rem 1rem !important;
    font-size: 16px;
}

.btn-link {
    text-decoration: none !important;
}

.menu label {
    font-weight: 100;
    font-size: 1.1em;
}

.workflows {
    font-weight: 100;
    font-size: 1.05em;
}

#ta-left-sidebar #left-nav ul li {
    line-height: 2.8em !important;
}

#ta-left-sidebar .icon {
    font-weight: 100;
    font-size: 1.07em;
}

.invalid-feedback, .field-validation-error {
    display: block;
}

.trumbowyg-box, .trumbowyg-editor {
    margin: auto;
}

/*.error-box {
        border: 1px solid red;
    }

    .form-control.input-validation-error {
        border-color: #ccc;
    }*/

/*.form-control.input-validation-error:focus {
            border-color: #ccc;
            box-shadow: none;
        }*/

.trumbowyg-button-pane {
    z-index: 0;
}

.formcomponents {
    z-index: 9999;
}

h1 {
    margin: 0;
    font-weight: 500;
    margin-bottom: 0.8rem;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem !important;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.validation-summary-errors {
    padding: 15px 15px 5px;
    font-size: 15px;
}

.field-validation-error {
    color: #721c24;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.validation-summary-errors {
    margin-bottom: 20px;
}

#notifyError {
    display: none;
}

.editor-error {
    border: #dc3545 1px solid;
    box-shadow: 0px 0px 1px #dc3545;
}

#ta-left-sidebar #left-nav > ul > li > label {
    padding: 8px 0px !important;
    margin-bottom: 0px !important;
    font-weight: 400 !important;
    background-color: #eaeaea !important;
}

#ta-left-sidebar #left-nav > ul.menu-admin > .item-label > span.title {
    padding-top: 7px !important;
}

#ta-left-sidebar #left-nav > ul.menu-admin > .item-label > span.icon {
    background-color: #eaeaea !important;
}
.left-sidebar-compact #ta-left-sidebar #left-nav > ul > li > .item-label .icon:hover {
    background-color: #eaeaea !important;
}
@media (max-width: 768px) {
    .collapse:not(.show) {
        display: none !important;
    }
}
.menu-admin {
    background-color: #eaeaea !important;
}

body:not(.left-sidebar-compact) #ta-left-sidebar #left-nav > ul.menu-admin .item-label > span.title {
    padding-top: 6px !important;
}


#mainNav {
    background-color: #212529 !important;
}

#formio button {
    color: #fff;
    background-color: #5bc0de !important;
    border-color: #46b8da !important;
}

.print-btn {
    color: #286090 !important;
}

    .print-btn:hover {
        color: #204d74 !important;
    }

button:disabled {
    cursor: no-drop;
}

label {
    margin-bottom: 0px !important;
    padding-bottom: 10px;
}

div > label {
    padding-bottom: 0px;
}

.btn-group-sm > .btn, .btn-sm {
    padding: 2px 8px;
}

.trumbowyg-box, .trumbowyg-editor {
    min-height: 100px;
}

path {
    stroke: #fff;
}

    path:hover {
        opacity: 0.9;
    }

rect:hover {
    fill: blue;
}

.axis {
    font: 10px sans-serif;
}

.legend tr {
    border-bottom: 1px solid grey;
}

    .legend tr:first-child {
        border-top: 1px solid grey;
    }

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.legend {
    margin-bottom: 76px;
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}

    .legend td {
        padding: 4px 5px;
        vertical-align: bottom;
    }

.legendFreq, .legendPerc {
    align: right;
    width: 50px;
}
svg {
    overflow: hidden;
    vertical-align: text-bottom !important;
}
.fileinput-button {
    padding: 6px 12px;
    font-size: 14px;
}
.errorMessagePublic {
    color: red;
    font-size: 12px;
    display:none;
}
#fileuploadPublic{
    display:none !important;
}
#publicAttachmentRemove{
    color:red;
    display:none;
    cursor:pointer;
}

.errorMessageAdmin {
    color: red;
    font-size: 12px;
    display: none;
}

#fileuploadAdmin {
    display: none !important;
}

#adminAttachmentRemove {
    color: red;
    display: none;
    cursor: pointer;
}

.trumbowyg-box, .trumbowyg-editor{
    margin:0px !important;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 1500ms infinite linear;
            -moz-animation: spinner 1500ms infinite linear;
            -ms-animation: spinner 1500ms infinite linear;
            -o-animation: spinner 1500ms infinite linear;
            animation: spinner 1500ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}