<style>
    .masthead {
        background-image: url(/media/header-bg.jpg) !important;
    }
</style>

<style>
    #mainNav {
        background-color: #212529 !important;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #main {
        padding: 200px;
    }

    .section-heading {
        margin-top: 35px !important;
    }

    header.masthead {
        display: none;
    }

    section {
        padding: 50px 0;
    }

    .panel-body {
        padding: 0px;
        border-radius: 0px;
    }

    .panel-heading {
        padding: 10px 10px;
        background: #eee;
        margin-top: 20px;
        border: 1px solid rgba(0, 0, 0, 0.125);
        font-size: 18px;
    }

    a, a:hover {
        color: #746d74;
        font-size: 15px;
    }

        a div p {
            cursor: pointer;
        }
</style>

<h1 style="text-align: center; ">Thank you for your submission!&nbsp;</h1>
<br>
<p style="text-align: center; ">To fill out another form please visit our <a href="/AdvancedForms">Form's Page</a>.&nbsp;</p>